In [1]:
import numpy as np
from scipy.integrate import solve_ivp
from scipy.optimize import least_squares
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import SIR_utils as sir

In [2]:
mandate = pd.read_csv('stay_at_home_and_masks.csv')
def get_date(dataframe, state):
    state = dataframe.loc[dataframe['state'] == state]
    date = np.array(state['mask_date'])[0].split('-')[::-1]
    return date[0] + '-' + date[1] + '-' + date[2]

print(mandate)

   state            Unnamed: 1  Population   mask_date  mask_in_effect  \
0     AL               Alabama     4934190  16-07-2021           False
1     AK                Alaska      724357         NaN           False
2     AZ               Arizona     7520100         NaN           False
3     AR              Arkansas     3033950  20-07-2020           False
4     CA            California    39613500  18-06-2020            True
5     CO              Colorado     5893630  17-07-2021            True
6     CT           Connecticut     3552820  14-08-2020            True
7     DE              Delaware      990334  05-01-2021            True
8     DC  District of Columbia      714153  22-07-2020            True
9     FL               Florida    21944600         NaN           False
10    GA               Georgia    10830000         NaN           False
11    HI                Hawaii     1406430  17-04-2020            True
12    ID                 Idaho     1860120         NaN           False
13    IL              Illinois    12569300  01-05-2020            True
14    IN               Indiana     6805660  27-07-2020           False
15    IA                  Iowa     3167970  17-11-2020           False
16    KS                Kansas     2917220  03-07-2020           False
17    KY              Kentucky     4480710  10-07-2020            True
18    LA             Louisiana     4627000  11-07-2020            True
19    ME                 Maine     1354520  01-05-2020            True
20    MD              Maryland     6065440  15-04-2021            True
21    MA         Massachusetts     6912240  06-05-2020            True
22    MI              Michigan     9992430  24-04-2020            True
23    MN             Minnesota     5706400  25-07-2020            True
24    MS           Mississippi     2966410  04-08-2020           False
25    MO              Missouri     6169040         NaN           False
26    MT               Montana     1085000         NaN           False
27    NE              Nebraska     1952000         NaN           False
28    NV                Nevada     3185790  26-06-2020            True
29    NH         New Hampshire     1372200  20-11-2020           False
30    NJ            New Jersey     8874520  10-04-2020            True
31    NM            New Mexico     2105000  16-05-2020            True
32    NY              New York    19300000  17-04-2020            True
33    NC        North Carolina    10701000  26-06-2020            True
34    ND          North Dakota      770026  13-11-2020           False
35    OH                  Ohio    11714600  07-23-2020            True
36    OK              Oklahoma     3990440         NaN           False
37    OR                Oregon     4289440  01-07-2020            True
38    PA          Pennsylvania    12804100  01-07-2020            True
39    RI          Rhode Island     1061510  08-05-2020            True
40    SC        South Carolina     5277830         NaN           False
41    SD          South Dakota      896581         NaN           False
42    TN             Tennessee     6944260         NaN           False
43    TX                 Texas    29730300         NaN           False
44    UT                  Utah     3310770  09-11-2020           False
45    VT               Vermont      623251  01-08-2020            True
46    VA              Virginia     8603980  30-05-2020            True
47    WA            Washington     7796940  08-06-2020            True
48    WV         West Virginia     1767860  06-07-2020            True
49    WI             Wisconsin     5852490  01-08-2020           False
50    WY               Wyoming      581075  09-12-2020           False

   mask_end_date stay_at_home_start stay_at_home_end
0     09-04-2021         04-04-2020       30-04-2020
1            NaN         28-03-2020       24-04-2020
2            NaN         31-03-2020       04-05-2020
3     25-03-2021                NaN              NaN
4            NaN         19-03-2020       08-05-2020
5     03-05-2021         26-03-2020       27-04-2020
6     19-05-2021         23-03-2020       17-06-2020
7            NaN         24-03-2020       08-05-2020
8            NaN         01-04-2020       29-05-2020
9            NaN         03-04-2020       05-06-2020
10           NaN         03-04-2020       04-24-2020
11           NaN         25-03-2020       31-05-2020
12           NaN         25-03-2020       01-05-2020
13           NaN         21-03-2020       30-05-2020
14    06-04-2021         24-03-2020       04-05-2020
15    07-02-2021                NaN              NaN
16    01-04-2021         30-03-2020       04-05-2020
17    30-04-2021         26-03-2020       11-05-2020
18    28-04-2021         23-03-2020       05-06-2020
19           NaN         02-04-2020       01-06-2020
20           NaN         30-03-2020       07-05-2020
21           NaN         24-03-2020       08-06-2020
22    24-05-2021         24-03-2020       01-06-2020
23           NaN         27-03-2020       04-05-2020
24    01-10-2020         03-04-2020       25-05-2020
25           NaN         06-04-2020       03-05-2020
26           NaN         28-03-2020       27-04-2020
27           NaN                NaN              NaN
28           NaN         04-01-2020       01-05-2020
29    15-04-2021         27-03-2020       04-05-2020
30           NaN         21-03-2020       02-05-2020
31           NaN         24-03-2020       01-05-2020
32           NaN         22-03-2020       15-05-2020
33           NaN         30-03-2020       08-05-2020
34    18-01-2021                NaN              NaN
35           NaN         03-23-2020       01-05-2020
36           NaN                NaN              NaN
37           NaN         03-23-2020       15-05-2020
38           NaN         01-04-2020       01-05-2020
39    05-07-2021         28-03-2020       09-05-2020
40           NaN         07-04-2020       20-04-2020
41           NaN                NaN              NaN
42           NaN         31-03-2020       27-04-2020
43           NaN         02-04-2020       18-05-2020
44    10-04-2021                NaN              NaN
45           NaN         25-03-2020       27-04-2020
46           NaN         30-03-2020       15-05-2020
47           NaN         23-03-2020       05-05-2020
48           NaN         24-03-2020       30-04-2020
49    31-03-2021         25-03-2020       01-05-2020
50    08-01-2021                NaN              NaN

In [3]:
state = "new-jersey"
state_abbr = "NJ"

all_states_history =  pd.read_csv("all-states-history.csv")
def stateData(dataframe, state_abbr):
    # Create a copy
    dataframe2 = dataframe.copy()
    # set the index to be this and don't drop
    dataframe2.set_index(keys=['state'], drop=False,inplace=True)
    return dataframe2.loc[dataframe2.state==state_abbr]


time_dataframe = stateData(all_states_history, state_abbr) 
print(time_dataframe)

dates = time_dataframe["date"][::-1]
removed = time_dataframe["positiveCasesViral"][::-1]
indices = np.array(1 - np.isnan(removed)).astype(np.bool)

if all(indices == False):
    removed = time_dataframe["positive"][::-1]
    indices = np.array(1 - np.isnan(removed)).astype(np.bool)

dates = np.array(dates)[indices]
rem = np.array(removed[indices])

#print(dates)
#print(rem)

             date state    death  deathConfirmed  deathIncrease  \
state
NJ     2021-03-07    NJ  23574.0         21177.0             17
NJ     2021-03-06    NJ  23557.0         21160.0             36
NJ     2021-03-05    NJ  23521.0         21124.0             30
NJ     2021-03-04    NJ  23491.0         21094.0             42
NJ     2021-03-03    NJ  23449.0         21052.0            128
...           ...   ...      ...             ...            ...
NJ     2020-02-14    NJ      0.0             NaN              0
NJ     2020-02-13    NJ      0.0             NaN              0
NJ     2020-02-12    NJ      0.0             NaN              0
NJ     2020-02-11    NJ      0.0             NaN              0
NJ     2020-02-10    NJ      0.0             NaN              0

       deathProbable  hospitalized  hospitalizedCumulative  \
state
NJ            2397.0       64396.0                 64396.0
NJ            2397.0       64338.0                 64338.0
NJ            2397.0       65254.0                 65254.0
NJ            2397.0       64137.0                 64137.0
NJ            2397.0       64050.0                 64050.0
...              ...           ...                     ...
NJ               0.0           NaN                     NaN
NJ               0.0           NaN                     NaN
NJ               0.0           NaN                     NaN
NJ               0.0           NaN                     NaN
NJ               0.0           NaN                     NaN

       hospitalizedCurrently  hospitalizedIncrease  ...  totalTestResults  \
state                                               ...
NJ                    1792.0                    58  ...        10999550.0
NJ                    1862.0                  -916  ...        10997031.0
NJ                    1881.0                  1117  ...        10993311.0
NJ                    1900.0                    87  ...        10899020.0
NJ                    1921.0                   133  ...        10895827.0
...                      ...                   ...  ...               ...
NJ                       NaN                     0  ...               0.0
NJ                       NaN                     0  ...               0.0
NJ                       NaN                     0  ...               0.0
NJ                       NaN                     0  ...               0.0
NJ                       NaN                     0  ...               0.0

       totalTestResultsIncrease  totalTestsAntibody  totalTestsAntigen  \
state
NJ                         2519                 NaN                NaN
NJ                         3720                 NaN                NaN
NJ                        94291                 NaN                NaN
NJ                         3193                 NaN                NaN
NJ                       116516                 NaN                NaN
...                         ...                 ...                ...
NJ                            0                 NaN                NaN
NJ                            0                 NaN                NaN
NJ                            0                 NaN                NaN
NJ                            0                 NaN                NaN
NJ                            0                 NaN                NaN

       totalTestsPeopleAntibody  totalTestsPeopleAntigen  \
state
NJ                          NaN                      NaN
NJ                          NaN                      NaN
NJ                          NaN                      NaN
NJ                          NaN                      NaN
NJ                          NaN                      NaN
...                         ...                      ...
NJ                          NaN                      NaN
NJ                          NaN                      NaN
NJ                          NaN                      NaN
NJ                          NaN                      NaN
NJ                          NaN                      NaN

       totalTestsPeopleViral  totalTestsPeopleViralIncrease  totalTestsViral  \
state
NJ                       NaN                              0       10902830.0
NJ                       NaN                              0       10902830.0
NJ                       NaN                              0       10902830.0
NJ                       NaN                              0       10806397.0
NJ                       NaN                              0       10806397.0
...                      ...                            ...              ...
NJ                       NaN                              0              NaN
NJ                       NaN                              0              NaN
NJ                       NaN                              0              NaN
NJ                       NaN                              0              NaN
NJ                       NaN                              0              NaN

       totalTestsViralIncrease
state
NJ                           0
NJ                           0
NJ                       96433
NJ                           0
NJ                      115772
...                        ...
NJ                           0
NJ                           0
NJ                           0
NJ                           0
NJ                           0

[392 rows x 41 columns]

In [5]:
window = 14
infectious, infectious_rate = sir.compute_number_infectious(rem, window)

rem = rem[:len(infectious)]

population = 8e7
population = np.array(mandate[mandate['state'] == 'state_abbr']['Population'])
sus = population - infectious - rem
print(sus)

340

ValueError: operands could not be broadcast together with shapes (0,) (340,)

In [29]:
times = np.arange(len(rem))
sir_fitting = sir.moving_averages_fits(times, sus, infectious, rem, window=window, 
                                     a_guess=0.01, b_guess=0.01)

In [30]:
print(sir_fitting)

[[5.17138174e-08 2.28569531e-05]
 [8.52956691e-09 4.43951957e-05]
 [4.33176677e-09 4.45547675e-05]
 [2.84706462e-09 3.94483883e-05]
 [1.78459632e-09 1.24506073e-04]
 [1.47098808e-09 1.04603826e-04]
 [1.22750098e-09 9.56700647e-05]
 [1.03941573e-09 9.75306559e-05]
 [8.90273804e-10 1.04985828e-04]
 [7.61887204e-10 1.33050134e-04]
 [6.68316512e-10 1.58205283e-04]
 [5.80179063e-10 1.98060942e-04]
 [5.10771193e-10 2.33755689e-04]
 [4.47064160e-10 2.92140340e-04]
 [3.91093541e-10 3.90531879e-04]
 [3.39142975e-10 5.35736673e-04]
 [2.99568055e-10 6.70752173e-04]
 [2.73556207e-10 8.15909892e-04]
 [2.40835075e-10 1.13026495e-03]
 [2.17084609e-10 1.49016842e-03]
 [1.95404416e-10 1.77448154e-03]
 [1.83333741e-10 2.02870224e-03]
 [1.72861761e-10 2.25084975e-03]]